html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 40px;
    margin-bottom: 40px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
th, td {
    padding: 10px;
}
/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Float the list items side by side */
ul.tab li {
    float: left;
}
/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
 @-webkit-keyframes fadeEffect {
 from {
opacity: 0;
}
 to {
opacity: 1;
}
}
 @keyframes fadeEffect {
 from {
opacity: 0;
}
 to {
opacity: 1;
}
}
 @keyframes timerHighlight {
 from {
background-color: red;
     color:white;
}
 to {
background-color: white;
    color:red;
}
}
 @keyframes timerReset {
 from {
color: red;
     background-color: red;
}
 to {
color: black;
     background-color: white;
}
}

 .string {
 color: green;
}
.number {
 color: darkorange;
}
.boolean {
 color: blue;
}
.null {
 color: magenta;
}
.key {
 color: red;
}
.redAlliance {
 border: 1px solid #ccc;
 background-color: #F7B3B4
}
.redAlliancePlayByPlay {
 border: 1px solid #ccc;
 align-content: center;
 text-align: center;
 background-color: red;
 font-size: x-large;
 font-weight: bold;
 color: white
}
.blueAlliance {
 border: 1px solid #ccc;
 background-color: #98B4F4
}
.blueAlliancePlayByPlay {
 border: 1px solid #ccc;
 align-content: center;
 text-align: center;
 background-color: blue;
 font-size: x-large;
 font-weight: bold;
 color: white
}
.playByPlayTeamName {
 font-size: x-large
}
.playByPlayWinLossTie {
 font-size: large;
 font-style: italic;
 align-content: center;
 text-align: center
}
.ranking {
 align-content: center;
 vertical-align: middle;
 text-align: center;
 font-size: xx-large;
 color: black
}
.teamName {
 font-size: x-large;
 color: black
}
.announceTeamNumber {
 font-size: x-large;
 color: black
}
.matchNumber {
 font-size: x-large
}
.gatool-container {
}
.popup {
 width: auto;
 height: 180px;
 background-color: #888888
}
.gatool-button-row {
}
.gatool-button {
 font-size: 25px;
 font-weight: bold;
 height: 40px
}
.gatool-playbyplay {
 border: 1px solid #ccc;
}
.gatool-announce {
 border: 1px solid #ccc;
 background-color: white
}
.robotName {
 font-style: italic;
 font-weight: bold;
 color: #FF4000
}
.playByPlayRobotName {
 font-style: italic;
 color: #13CB00
}
.playByPlayteamNumber {
 font-size: 40px
}
.playByPlayOrganization {
 font-size: medium;
 font-style:italic;
 line-height: 100%
}
.playByPlayCity {
 font-size: medium
}
.playByPlayAlliance {
 font-size: medium
}
.awards {
 font-style: italic;
 line-height: 1
}
.sponsors {
 line-height: 1;
 font-weight: 900
}
.playoffAlert {
 font-style: italic;
 font-weight: bolder;
 color: #FF0000;
 font-size: 20px
}
.announceOrganization {
 font-size: 20px;
 font-weight: bold
}
.teamUpdateTable {
}
.wltTable {
 border-width: thin;
 background-color: rgba(255,255,255,0.20);
 text-align: center;
 align-content: center;
 display: block;
 margin: auto;
}
.wltCol {
 width:33%
}
.loadingEvent {
 color: red
}
.cell {
 display: inline
}
.col1 {
 width: 83px
}
.col2 {
 width: 166px
}
.col3 {
 width: 250px
}
.col4 {
 width: 333px
}
.col5 {
 width: 416px
}
.col6 {
 width: 500px
}
.col9 {
 width: 750px
}
.col10 {
 width: 833px
}
.spacer {
 height:15px
}
.eventName {
 font-size: 20px;
 font-weight: bold
}
