node_modules/*
npm-debug.log
token.json
.idea/*
database/*.*
server.crt
server.key
/seasonHighScore/
/seasonOffsetting/
/seasonPenaltyFree/
/offseasonEvents/
/users/
/teamUpdate/
/teamdata/
/teamAwards/
/events/
/database/
/avatars/
/environment/